@import url('https://fonts.googleapis.com/css2?family=Young+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

:root{
    /*bg color*/
    --bg-color-main:#f3e5d8;
    --bg-color-secondary:hsl(0, 0%, 100%);
    --bg-color-thrid:hsl(330, 100%, 98%);

    /*font color*/
    --font-color-black:hsl(24, 5%, 18%);
    --font-color-grey:hsl(30, 10%, 34%);
    --font-color-grey-1:hsl(30, 18%, 87%);
    --font-color-grey-2:hsl(30, 54%, 90%);

    --font-color-brown:hsl(14, 45%, 36%);
    --font-color-rose:hsl(332, 51%, 32%);

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Outfit', sans-serif;
    background-color: var(--bg-color-main);
    color: var(--font-color-black);
    padding: 20px;
}

.recipe-card {
    max-width: 700px;
    margin: 0 auto;
    background-color: var(--bg-color-secondary);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.recipe-image img {
    width: 90%;
    height: auto;
    display: block;
    margin: 0 auto;
    margin-top: 20px;
    border-radius: 10px;
}

.recipe-info {
    padding: 40px;
}

h1 {
    color: var(--font-color-black);
    font-family: 'Young Serif';
    letter-spacing: 0.5px;
    margin-bottom: 20px;
    font-weight: 400;
}

h2{
    font-family: 'Young Serif';
    color: var(--font-color-brown);
    font-weight: inherit;
    font-size: 28px;
    margin-bottom: 20px;
    margin-top: 20px;
}

p {
    margin-bottom: 20px;
    color: var(--font-color-grey);
}


.prep-time{
    background-color: var(--bg-color-thrid);
    border-radius: 10px;
    margin: 0 auto;
}
.prep-time-info{
    padding: 15px;
}

.prep-time h2{
    color: var(--font-color-rose);
    font-size: 20px;
    font-family: 'Outfit', sans-serif;
    font-weight: bold;
}

.prep-time ul li{
    margin-left: 50px;
    color: var(--font-color-grey);
}

.ingredients{
    border-bottom: 1px var(--font-color-grey-1) solid;
    margin-top: 20px;
}

.ingredients h2{
    font-family: 'Young Serif';
    color: var(--font-color-brown);
    font-weight: inherit;
    font-size: 28px;
    margin-bottom: 10px;
}

.ingredients ul li{
    margin-left: 25px;
    color: var(--font-color-grey);
    margin-bottom: 20px;
}


.instructions{
    border-bottom: 1px var(--font-color-grey-1) solid;
}

.instructions h2{
    font-family: 'Young Serif';
    color: var(--font-color-brown);
    font-weight: inherit;
    font-size: 28px;
    margin-bottom: 10px;
}

.instructions ol li{
    margin-left: 25px;
    color: var(--font-color-grey);
    margin-bottom: 10px;
}

ul, ol {
    margin-bottom: 20px;
}

ul li, ol li {
    margin-bottom: 10px;
}

strong {
    font-weight: bold;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid var(--font-color-grey-1);
}

span{
    color: var(--font-color-brown);
    font-weight: bold;
}







