@import url('https://fonts.googleapis.com/css2?family=Young+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

:root{
    /*bg color*/
    --bg-color-main:#f3e5d8;
    --bg-color-secondary:hsl(0, 0%, 100%);
    --bg-color-thrid:hsl(330, 100%, 98%);

    /*font color*/
    --font-color-black:hsl(24, 5%, 18%);
    --font-color-grey:hsl(30, 10%, 34%);
    --font-color-grey-1:hsl(30, 18%, 87%);
    --font-color-grey-2:hsl(30, 54%, 90%);

    --font-color-brown:hsl(14, 45%, 36%);
    --font-color-rose:hsl(332, 51%, 32%);

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Outfit', sans-serif;
    background-color: var(--bg-color-main);
    color: var(--font-color-black);
    padding: 20px;
}

.recipe-card {
    max-width: 750px;
    margin: 0 auto;
    background-color: var(--bg-color-secondary);
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.recipe-image img {
    width: 90%;
    height: auto;
    display: block;
    margin: 0 auto;
    margin-top: 40px;
    border-radius: 10px;
}

.recipe-info {
    padding: 40px;
}

h1 {
    color: var(--font-color-black);
    font-family: 'Young Serif';
    letter-spacing: 0px;
    margin-bottom: 20px;
    font-weight: 400;
}

h2{
    font-family: 'Young Serif';
    color: var(--font-color-brown);
    font-weight: inherit;
    font-size: 28px;
    margin-top: 20px;
}

p {
    margin-bottom: 30px;
    color: var(--font-color-grey);
    font-size: 16px;
}


.prep-time{
    background-color: var(--bg-color-thrid);
    border-radius: 10px;
}
.prep-time-info{
    padding: 15px 30px;
}

.prep-time h2{
    color: var(--font-color-rose);
    font-size: 20px;
    font-family: 'Outfit', sans-serif;
    font-weight: bold;
    margin-bottom: 20px;
}

.prep-time ul{
    list-style-position: outside;
    color: var(--font-color-grey);
    padding: 0 20px;
}

.prep-time ul li::marker{
    color: var(--font-color-rose);
}

.ingredients h2{
    font-family: 'Young Serif';
    color: var(--font-color-brown);
    font-weight: inherit;
    font-size: 28px;
    margin:30px 0px;
}

.ingredients ul{
    color: var(--font-color-grey);
    margin-left: 25px;
}

.ingredients ul li::marker{
    color: var(--font-color-brown);
    margin-bottom: 20px;
}

.instructions h2{
    font-family: 'Young Serif';
    color: var(--font-color-brown);
    font-weight: inherit;
    font-size: 28px;
    margin:30px 0px;
}

.instructions ol{
    margin-left: 25px;
    color: var(--font-color-grey);
    margin-bottom: 10px;
}

.instructions ol li::marker{
    color: var(--font-color-brown);
    font-weight: bold;
}

ul li, ol li {
    margin-bottom: 15px;
    padding: 0px 20px;
}

strong {
    font-weight: bold;
}

.nutrition h2{
    margin-bottom: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

th, td {
    padding: 8px;
    text-align: left;
}

span{
    color: var(--font-color-brown);
    font-weight: bold;
}

.line{
    border-bottom: 1px solid var(--font-color-grey-1);
    margin-top: 40px;
}

.attribution{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
.attribution a{
    text-decoration: none;
    color: var(--font-color-grey);
}

.attribution a:hover{
    color: var(--font-color-brown);
    text-decoration:underline;
}
@media only screen and (max-width:375px){
    body{
        width: 375px;
        padding: 0;
        background-color: var(--bg-color-secondary);
    }
    .recipe-card{
        border-radius: 0px;
        margin: 0 auto;
    }
    .recipe-image img{
        width: 100%;
        height: auto;
        margin-top: 0px;
    }

}






